

#principal{
	
	margin-top:  7%;
}


#baner{
height: 500px;

margin-top: -24px;
}
#nom{
    height: 12px;
    
}
.btn span.glyphicon {               
    opacity: 0;             
}
.btn.active span.glyphicon {                
    opacity: 1;             
}

footer {  min-height:350px; font-family: 'Open Sans', sans-serif; 

}
.modal-dialog{
    height: 42%;
}
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}

 a {
    color: #fafafa;
    text-decoration: none;
    
}
.controls .glyphicon.active {
    font-size: 3em;
    margin: 5px 10px;
    text-shadow: 0px 0px 5px rgba(51, 51, 51, 1);
    color:  rgba(19, 35, 47, 0.9);
}

.btn-primary {
    color: #fff;
    background-color: #1ab188;
    border-color: #1ab188;
    height: 32px;
    left: 5px;
}

.pager li a{

	color: black;
}

#final{
background-color: 	 rgba(19, 35, 47, 0.9);

}
#buscador{
	margin-bottom: 1%;
	width: 50%;
}



#drop{
	position: relative;
  margin-top: 1%;
}

.navbar-inverse{
	background-color:rgba(19, 35, 47, 0.9); 
} 


.progress-radial {
	float: left;
	margin-right: 30px;
	position: relative;
	width: 100%;
	height: 30%;
	border-radius: 60%;
	border: 2px solid #1ab188; // remove gradient color
	background-color: #1ab188; // default 100%
}

.progress-radial .overlay {
	width: 100%;
	height: 100%;
	padding: 15px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
}
@media (max-width: 768px) { 
.progress-radial {
	float: left;
	margin-right: 30px;
	position: relative;
	width: 40%;
	height: 40%;
	border-radius: 50%;
	border: 2px solid #1ab188; // remove gradient color
	background-color: #1ab188; // default 100%
}



}

@media (max-width: 768px) { 
#buscador{

width: 100%;
}
.move{

width: 70%;
}
#logotipo{
	display: none;
}
}
@media (max-width: 1080px) { 

#cb{
	display: none;
}
.move{

width: 50%;
}
#buscador{

width: 80%;
}
}
#buscador{

margin-top: 15px;
}
#cb{

margin-top: 14px;
}
	.move{

margin-top: 20px;
position: relative;
 left:5%;
}
.controls {
	position: absolute;
	bottom: 25%;
	left: 0px;
	width: 100%;
	text-align: center;
}
.controls span{
position:relative;

width: 15%;
}
.controls .glyphicon {
	font-size: 2em;
	color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	margin: 0px 10px;
	cursor: pointer;
}
.controls .glyphicon.active {
    font-size: 3em;
	margin: 5px 10px;
	text-shadow: 0px 0px 5px rgba(51, 51, 51, 1);
	color: #5bc0de;
}
.progress {
    background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(90deg, #5bc0de 50%, #2f3439 50%, #2f3439);
}

#logotipo{

	position: relative;
    float: left;
}
 
#logo{

	position: relative;
    float: left;
}

#custom-search-input {
        margin:0;
        margin-top: 5px;
        padding: 0;
      
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
#flipkart-navbar {
    background-color:rgba(19, 35, 47, 0.9);
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #1ab188;;
    border: 1px solid #1ab188;;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.cart-button {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}