*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f0f0f0;
	color: #4c4c4c;
	font-family: 'Asap', sans-serif;
	font-size: 14px;
}
label, input[type="submit"]{
	margin-top: 6px;
}
.btn:focus{
	outline: none;
}
form .form-group {
    position: relative;
    margin-left: 20px !important;
    margin-right: 10px !important;

}
div .center{
left: 10px;
}
@CreativoHN