

#principal{
	
	margin-top:  7%;
}
.btn span.glyphicon {               
    opacity: 0;             
}
.btn.active span.glyphicon {                
    opacity: 1;             
}

footer {  min-height:350px; font-family: 'Open Sans', sans-serif; 

}
.modal-dialog{
    height: 42%;
}
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}

 a {
    color: #fafafa;
    text-decoration: none;
}
.controls .glyphicon.active {
    font-size: 3em;
    margin: 5px 10px;
    text-shadow: 0px 0px 5px rgba(51, 51, 51, 1);
    color:  rgba(19, 35, 47, 0.9);
}

.btn-primary {
    color: #fff;
    background-color: #1ab188;
    border-color: #1ab188;
}

.pager li a{

	color: black;
}

#final{
background-color: 	 rgba(19, 35, 47, 0.9);

}
#buscador{
	margin-bottom: 1%;
	width: 50%;
}



#drop{
	position: relative;
  margin-top: 1%;
}

.navbar-inverse{
	background-color:rgba(19, 35, 47, 0.9); 
} 


.progress-radial {
	float: left;
	margin-right: 30px;
	position: relative;
	width: 100%;
	height: 30%;
	border-radius: 60%;
	border: 2px solid #1ab188; // remove gradient color
	background-color: #1ab188; // default 100%
}

.progress-radial .overlay {
	width: 100%;
	height: 100%;
	padding: 15px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
}
@media (max-width: 768px) { 
.progress-radial {
	float: left;
	margin-right: 30px;
	position: relative;
	width: 40%;
	height: 40%;
	border-radius: 50%;
	border: 2px solid #1ab188; // remove gradient color
	background-color: #1ab188; // default 100%
}



}
#inicio{
	display:list-item ;
}
@media (max-width: 768px) { 
#buscador{

width: 100%;
}
.move{

width: 70%;
}
#logotipo{
	display: none;
}
}
@media (max-width: 1080px) { 

#cb{
	display: none;
}
.move{

width: 50%;
}
#buscador{

width: 80%;
}
}
#buscador{

margin-top: 15px;
}
#cb{

margin-top: 14px;
}
	.move{

margin-top: 8px;
position: relative;
 left:5%;
}
.controls {
	position: absolute;
	bottom: 25%;
	left: 0px;
	width: 100%;
	text-align: center;
}
.controls span{
position:relative;

width: 15%;
}
.controls .glyphicon {
	font-size: 2em;
	color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	margin: 0px 10px;
	cursor: pointer;
}
.controls .glyphicon.active {
    font-size: 3em;
	margin: 5px 10px;
	text-shadow: 0px 0px 5px rgba(51, 51, 51, 1);
	color: #5bc0de;
}
.progress {
    background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(90deg, #5bc0de 50%, #2f3439 50%, #2f3439);
}

#logotipo{

	position: relative;
    float: left;
}
 
#logo{

	position: relative;
    float: left;
}

#custom-search-input {
        margin:0;
        margin-top: 5px;
        padding: 0;
      
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
